body {
	margin: 0px;
	background-color: #eeeeee;
}

.topTable {
	direction: rtl;
	overflow: scroll;
	height: 100%;
}

.patCell {
	width: 15px;
	min-width: 15px;
	height: 15px;
	border-right: 1px solid black;
	//outline: 1px solid rgba(0, 0, 0, 0.2);
}
