body {
	margin: 0px;
	background-color: #eeeeee;
}

.topTable {
	direction: rtl;
	overflow: scroll;
	align: right;
	margin-right: 0px;
	margin-left: auto;
	height: 100%;
}

.patCell {
	width: 15px;
	min-width: 15px;
	height: 15px;
	border: 1px solid rgba(0, 0, 0, 0.2);
}
